<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.madcourse.dancalacci"
    android:versionCode="5"
    android:versionName="2.3" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="8" />

    <!-- NUMAD Authorization -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_DATA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:label="@string/app_name"
        android:theme="@style/CustomTheme"
        android:icon="@drawable/platechart_launcher">

        <!-- Main Activity -->
        <activity
            android:name="edu.madcourse.dancalacci.MainActivity"
            android:label="@string/title_activity_main"
            android:icon="@drawable/ic_launcher"
            android:taskAffinity="edu.madcourse.dancalacci.MainActivity"
            
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- CircleTouch Activity -->
        <activity
            android:name="edu.madcourse.dancalacci.circletouch.PlateChart_main"
            android:label="@string/final_app_name"
            android:screenOrientation="portrait" 
            android:taskAffinity="edu.madcourse.dancalacci.circletouch"
            
            android:icon="@drawable/platechart_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.madcourse.dancalacci.circletouch.Plate_chart_project"
            android:label="@string/final_app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.madcourse.dancalacci.circletouch.AddChart"
            android:label="@string/final_app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.madcourse.dancalacci.circletouch.History_byDate"
            android:label="@string/final_app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.madcourse.dancalacci.circletouch.CategorySelection"
            android:label="@string/final_app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.madcourse.dancalacci.circletouch.History_byTime"
            android:label="@string/final_app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.madcourse.dancalacci.circletouch.Profile"
            android:label="@string/your_profile_label"
            android:screenOrientation="portrait" >
        </activity>

        <!-- TeamMembers Activity -->
        <activity
            android:name=".TeamMembers"
            android:label="@string/team_members_label"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>

        <!-- Sudoku Activities -->
        <activity
            android:name=".sudoku.Sudoku"
            android:label="@string/sudoku_label"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".sudoku.About"
            android:label="@string/about_title"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".sudoku.Prefs"
            android:label="@string/settings_title"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".sudoku.Game"
            android:label="@string/game_title"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".boggle.Boggle"
            android:label="@string/boggle_label"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".boggle.Game"
            android:label="@string/boggle_label" >
        </activity>
        <activity
            android:name=".boggle.Pause"
            android:label="@string/pause_label"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".boggle.Prefs"
            android:label="@string/settings_title"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".boggle.Rules"
            android:label="@string/boggle_rules_button_label"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".boggle.Acknowledgements"
            android:label="@string/boggle_acknowledgements_button_label"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".multiplayer.Multiplayer"
            android:label="@string/boggle_multiplayer_Label"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Log in Activity -->
        <activity
            android:name=".multiplayer.Multiplayer_Login_Form"
            android:screenOrientation="portrait" />

        <!-- New Sent Request Activity -->
        <activity
            android:name="edu.madcourse.dancalacci.multiplayer.Multiplayer_New_Request_Form"
            android:screenOrientation="portrait" />

        <!-- Mutiplayer Received Activity -->
        <activity
            android:name="edu.madcourse.dancalacci.multiplayer.Multiplayer_Received_Requests"
            android:screenOrientation="portrait" />
        <activity
            android:name="edu.madcourse.dancalacci.boggle.Multiplayer_Received_array_adaptor"
            android:screenOrientation="portrait" />
        <activity
            android:name="edu.madcourse.dancalacci.boggle.Multiplayer_Received_row_content"
            android:screenOrientation="portrait" />

        <!-- Mutiplayer Sent Activity -->
        <activity
            android:name="edu.madcourse.dancalacci.multiplayer.Multiplayer_Sent_Requests"
            android:screenOrientation="portrait" />

        <!-- Mutiplayer High Scores Activity -->
        <activity
            android:name="edu.madcourse.dancalacci.multiplayer.Multiplayer_HighScores"
            android:screenOrientation="portrait" />

        <!-- Mutiplayer Current Games Activity -->
        <activity
            android:name="edu.madcourse.dancalacci.multiplayer.Multiplayer_CurrentGames"
            android:screenOrientation="portrait" />
        <activity
            android:name=".multiplayer.Multiplayer_Game"
            android:screenOrientation="portrait" />

        <!-- Service Receiver -->
        <service android:name=".Multiplayer_Game_Service" />

        <receiver android:name="Multiplayer_Game_Service_BroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="Multiplayer_Game_Service_Receiver" >
        </receiver>
    </application>

</manifest>